{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un kit{% endtrans %}
        {% else %}
        {% trans %}Modification d'un kit{% endtrans %}
    {% endif %}    
{% endblock %}
{% block stylesheets %}
	<style>
		.kit-produit-item {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            margin-bottom: 10px;
        }
	</style>
{% endblock %}
{% block body %}
    <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% if slug == 0 %}
                                        <i class="fa fa-eercast me-2"></i>
                                        {% trans %}Ajout d'un kit{% endtrans %}
                                        {% else %}
                                        <i class="fa fa-eercast  me-2"></i>
                                        {% trans %}Modification de : {% endtrans %} {{ kit.libelle }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('liste_kit', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                    {% trans %}Afficher les kits{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body ">
                        {{ form_start(formProduit) }}

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    {{ form_row(formProduit.libelle) }}
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            

                            {# <div id="kit_produits_container" data-prototype="{{ form_widget(formProduit.produitLigneDeKits.vars.prototype)|e('html_attr') }}">
                                {% for produitForm in formProduit.produitLigneDeKits %}
                                    <div class="kit-produit-item">

                                        <div class="col-md-4">
                                            {{ form_row(produitForm.produit) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(produitForm.quantite) }}
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-danger remove-item">Supprimer</button>
                                        </div>
                                        
                                    </div>
                                {% endfor %}
                            </div> #}

                            <div id="kit_produits_container"
                            data-prototype="
                                <div class='kit-produit-item row align-items-end mb-2'>
                                    <div class='col-md-1'>
                                    </div>
                                    <div class='col-md-5'>
                                        {{ form_label(formProduit.produitLigneDeKits.vars.prototype.produit)|e('html_attr') }}
                                        {{ form_widget(formProduit.produitLigneDeKits.vars.prototype.produit)|e('html_attr') }}
                                    </div>
                                    <div class='col-md-3'>
                                        {{ form_label(formProduit.produitLigneDeKits.vars.prototype.quantite)|e('html_attr') }}
                                        {{ form_widget(formProduit.produitLigneDeKits.vars.prototype.quantite)|e('html_attr') }}
                                    </div>
                                    <div class='col-md-2'>
                                        <button type='button' class='btn btn-danger remove-item'>Supprimer1</button>
                                    </div>

                                </div>
                            ">
                        </div>

                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-end">
                                    <button type="button" id="add-produit" class="btn btn-primary mt-2">Ajouter un produit</button>

                                    <button type="submit" class="btn btn-success mt-2">Enregistrer</button>
                                </div>
                            </div>
                            

                        {{ form_end(formProduit) }}

                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <script>
           document.addEventListener('DOMContentLoaded', () => {
        const container = document.getElementById('kit_produits_container');
        const addButton = document.getElementById('add-produit');
        let index = container.querySelectorAll('.kit-produit-item').length;

        addButton.addEventListener('click', () => {
            const prototype = container.dataset.prototype;
            const newForm = prototype.replace(/_name_/g, index);
            const div = document.createElement('div');
            div.classList.add('kit-produit-item');
            div.innerHTML = newForm ;
            container.appendChild(div);
            index++;
        });

        container.addEventListener('click', (e) => {
            if (e.target && e.target.classList.contains('remove-item')) {
                e.target.closest('.kit-produit-item').remove();
            }
        });
    });

    </script>
{% endblock %}

